@charset "UTF-8";
#nav{
	height: 17vh;
}
.loginBox{
		display: none;
}
div.banner{
	background-image: url("../images/banner2.png");
	width: 100%;
	height: 100%;
	border: 1px solid black;
	display: block;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
}
@media (min-width: 1200px){
	.loginBox{
		display: inline-block;
		width: 10vw;
		height: 100%;
		border: 1px solid black;
	}
	div.banner{
		width: 48vw;
		float: right;
		height: 100%;
		display: inline-block;
	}
}
.cameleon{
	background-image: url("../images/camelon.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: contain;
	margin-top: 1em;
	width: 100%;
	height: 40%;
}
.login-button{
	margin: 10% auto;
	border: 0;
	display: block;
	width: 75%;
	border-radius: 2em;
	font-size: 0.5em;
}
.logout-bottom>span{
	font-size: 0.05em;
	margin-bottom: 2em;
}
.logout-bottom>span:first-child {
	margin-left: 3em;
	float: left;
}
.logout-bottom>span:last-child {
	margin-right: 3em;
	float: right;
}
.logout-bottom a{
	text-decoration: none;
	color: inherit;
}

.login-top{
	font-size: 0.1em;
	margin-top: 3em;
	height: 20%;
}
.login-top>span{
	float: left;
	font-size: 9em;
	margin-left: 1em;
	color: silver;
}
.login-top>input{
	float: right;	
	margin-right: 3em;
}
.login-center{
	height: 55%;
}
.login-bottom{
	height: 22%;
}
.login-center div{
	display: inline-block;
	height: 85%;
}
.profile{
	height: 85%;
	border: 1px solid black;
	width: 40%;
	margin-left: 5%;
}
.info{
	width: 50%;
}
.info ul{
	list-style: none;
	font-size: 0.05em;
	padding: 0;
}
.login-bottom>input{
	width: 85%;
	display: block;
	margin: 0 auto;
	font-size: 0.8em;
}