@charset "UTF-8";
#nav{
	height: 17vh;
}
/*.loginBox{
		display: none;
}
 div.banner{
	width: 100%;
	height: 100%;
	border: 1px solid black;
	display: block;
	position: relative;
} */

	.loginBox{
		display: inline-block;
		width: 10vw;
		height: 100%;
		border: 1px solid black;
	}
	div.banner{
		width: 48vw;
		float: right;
		height: 100%;
		display: inline-block;
	}
@media (min-width: 1200px){
/* 	div.banner{
		width: 48vw;
		float: right;
		height: 100%;
		display: inline-block;
	} */
}
.cameleon{
	background-image: url("../images/camelon.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: contain;
	margin-top: 1em;
	width: 100%;
	height: 40%;
}
.login-button{
	margin: 10% auto;
	border: 0;
	display: block;
	width: 75%;
	border-radius: 2em;
	font-size: 0.5em;
}
.logout-bottom>span{
	font-size: 0.02vw;
	margin-bottom: 2em;
}
.logout-bottom>span:first-child {
	margin-left: 0.5vw;
	float: left;
}
.logout-bottom>span:last-child {
	margin-right: 0.5vw;
	float: right;
}
.logout-bottom a{
	text-decoration: none;
	color: inherit;
}

.login-top{
	font-size: 0.1em;
	margin-top: 3em;
	height: 20%;
}
.login-top>span{
	float: left;
	font-size: 9em;
	margin-left: 1em;
	color: silver;
}
.login-top>input{
	float: right;	
	margin-right: 3em;
}
.login-center{
	height: 55%;
}
.login-bottom{
	height: 22%;
}
.login-center div{
	display: inline-block;
	height: 85%;
}
.profile{
	height: 85%;
	border: 1px solid black;
	width: 40%;
	margin-left: 5%;
	vertical-align: bottom;
}
.info{
	width: 50%;
}
.info ul{
	list-style: none;
	font-size: 0.05em;
	padding: 0;
}
.login-bottom>input{
	width: 85%;
	display: block;
	margin: 0 auto;
	font-size: 0.8em;
}


.header-slides{display: none;}
.header-slides>img{
	cursor: pointer;
		width: 100%;
		height: 100%;
}
.header-slide-container{
	position: relative;
	height: 100%;
}
.prev, .next{
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}
.next{
	right: 0;
	border-radius: 3px 0 0 3px;
}
.dot{
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.active {
  background-color: #717171;
}
.fade{
	-webkit-animation-name: fade;
	-webkit-animation-duration: 5s;
	animation-name: fade;
	animation-duration: 5s;	
}
@-webkit-keyframes fade{
	from{opacity: .4}
	to{opacity: 1}
}
@keyframes fade{
	from{opacity: .4}
	to{opacity: 1}
}
@media only screen and (max-width: 300px) {
  prev, .next, .text {font-size: 11px}
}
.active, .dot:hover {
  background-color: #717171;
}
.header-slide-dot{
	position: absolute;
	bottom: 0;
	right: 0;
}