@charset "UTF-8";

.loginBox{
		display: none;
}
div.banner{
	background-image: url("../images/banner2.png");
	width: 100%;
	height: 10rem;
	border: 1px solid black;
	display: block;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
}
@media (min-width: 1050px){
	.loginBox{
		display: inline-block;
		width: 25%;
		height: 10rem;
		border: 1px solid black;
	}
	div.banner{
		width: 72%;
		float: right;
		height: 10rem;
		display: inline-block;
	}
}
.cameleon{
	background-image: url("../images/camelon.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: contain;
	margin-top: 1em;
	width: 100%;
	height: 40%;
}
.login-button{
	margin: 10% auto;
	border: 0;
	display: block;
	width: 75%;
	border-radius: 2em;
	font-size: 0.5em;
}
.logout-bottom>span{
	font-size: 0.05em;
	margin-bottom: 2em;
}
.logout-bottom>span:first-child {
	margin-left: 3em;
	float: left;
}
.logout-bottom>span:last-child {
	margin-right: 3em;
	float: right;
}
.logout-bottom a{
	text-decoration: none;
	color: inherit;
}