<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pea.board.mapper.ItemMapper">

		<!-- 아이템 이름 중복 체크 -->
	<select id="itemNameCheck" parameterType="string"
		resultType="string">
		SELECT name
		FROM pea_item
		WHERE name = #{name}
		AND delyn ='N'

	</select>

	<!-- 아이템 등록 -->
	<insert id="itemInsert" parameterType="ItemVo">
	INSERT INTO pea_item(
		  price
		, category
		, subcategory
		, name
		, tag
		, img	
		, maker	
		, ip
	) 
	VALUES(
		  #{price}
		, #{category}
		, #{subcategory}
		, #{name}
		, #{tag}
		, #{img}
		, #{maker}
		, #{ip}
	)
	</insert>
		
	<!-- 아이템 리스트  -->
	<select id="itemList" resultType="ItemVo">
	SELECT * FROM pea_item 
		WHERE delyn='N' and approval='Y' and postpone='N'
		ORDER BY iidx DESC
	</select>
	
	<!-- 아이템 인기 상품순 -->
	<select id="itemListCount" resultType="ItemVo">
	SELECT * FROM pea_item 
		WHERE delyn='N' and approval='Y'  and postpone='N'
		ORDER BY count DESC, iidx DESC
	</select>
	<!-- 아이템 리스트 가격 내림차순 -->
	<select id="itemListDesc" resultType="ItemVo">
	SELECT * FROM pea_item 
		WHERE delyn='N' and approval='Y' AND postpone='N'
		ORDER BY price DESC, iidx DESC
	</select>
	<!-- 아이템 리스트 가격 오름차순 -->
	<select id="itemListAsc" resultType="ItemVo">
	SELECT * FROM pea_item 
		WHERE delyn='N' and approval='Y' AND postpone='N'
		ORDER BY price 
		ASC, iidx 
		DESC
	</select>
	<!-- 아이템 리스트 신상품순 -->
	<select id="itemListNew" resultType="ItemVo">
	SELECT * FROM pea_item 
		WHERE delyn='N' and approval='Y' AND postpone='N'
		ORDER BY iidx DESC
	</select>
	
	<!-- 아이템 리스트 신상품순 5개 -->
	<select id="itemListNewLimit" resultType="ItemVo">
	SELECT * FROM pea_item 
		WHERE delyn='N' and approval='Y' AND postpone='N'
		ORDER BY iidx DESC LIMIT 0,6;
	</select>
	
	<!-- 아이템 승인 리스트  -->
	<select id="itemApproval" resultType="ItemVo">
		SELECT * FROM pea_item 
			WHERE delyn='N' 
			AND approval='N' 
			AND	postpone='N'
			ORDER BY iidx 
			DESC;
	</select>
	<!-- 아이템 보류 리스트  -->
	<select id="postpone" resultType="ItemVo">
		SELECT * FROM pea_item
			WHERE delyn='N'
			AND approval='N'
			AND postpone='Y'
			ORDER BY iidx 
			DESC;
	
	</select>
	
	<!-- 아이템 승인 버튼 -->
	<update id="approvalCheck" parameterType="int">
		UPDATE pea_item SET approval='Y' WHERE iidx=#{iidx}
	</update>
	<!-- 아이템 보류 버튼  -->
	<update id="postponeCheck" parameterType="int">
		UPDATE pea_item SET postpone='Y' WHERE iidx=#{iidx}
	</update>
	
	<!-- 아이템 삭제  -->
	<update id="itemDel" parameterType="int">
		UPDATE pea_item SET delyn='Y' WHERE iidx=#{iidx}
	</update>
	
	
	<!-- 장바구니함 리스트  -->
	<select id="basket_selectAll" parameterType="int" resultType="ItemVo">
	<!-- 	<![CDATA[ 
		SELECT * FROM pea_item 
			WHERE iidx=(SELECT iidx FROM pea_user_item WHERE uidx=#{uidx} AND cart='Y' and delyn='N')
		]]> -->
		SELECT * FROM pea_item a 
		JOIN (SELECT uiidx,iidx FROM pea_user_item 
				WHERE uidx=#{uidx} 
				AND cart='Y' 
				AND delyn='N'
				AND buy='N')b  
				ON a.iidx = b.iidx 
				WHERE a.delyn='N'
	</select>

	<!-- 장바구니 리스트에 추가 -->
		<insert id="basketItemAdd" parameterType="ItemVo">
			INSERT INTO pea_user_item(
						  iidx
						, uidx
						, cart
			) 
			VALUES(
						  #{iidx}
						, #{uidx}
						, 'Y'
			)
	</insert>
	<select id="basketListCheck" parameterType="ItemVo" resultType="String">
		SELECT * FROM pea_user_item 
			WHERE iidx = #{iidx} 
			AND uidx = #{uidx}
			AND (cart='Y' OR buy='Y')
			AND delyn='N'
			
	</select>
	
	<update id="basketItemAdd2" parameterType="int">
		update pea_user_item set cart='Y' where uiidx=#{uiidx} 
	</update>
	<!-- 장바구니 리스트에 삭제  -->
<!-- 	<update id="basketItemDel2" parameterType="ItemVo">
		update pea_user_item set cart = 'N' where uiidx=#{uiidx}
	</update> -->
	<delete id="basketItemDel" parameterType="ItemVo">
		DELETE FROM pea_user_item
			WHERE  uiidx=#{uiidx}
	</delete>
	<!-- 내 아이템 리스트에 추가  -->
	<insert id="myItemAdd" parameterType="ItemVo">
		insert into pea_user_item(iidx, uidx, buy) value(#{iidx},#{uidx},'Y')
	</insert>
	<!-- 내 아이템 리스트  -->
	<select id="myItemList" parameterType="int" resultType="ItemVo">
		select b.* from pea_user_item a join pea_item b on a.iidx=b.iidx where a.uidx=#{uidx} and a.buy='Y' and a.delyn='N' ORDER BY a.uiidx DESC
	<!-- SELECT a.* FROM pea_item a 
		 JOIN pea_user_item b 
		ON a.iidx=b.iidx 
		 WHERE b.uidx=#{uidx} AND b.buy='Y' -->
 	</select>
 	<!-- 내 아이템 리스트 중복체크 -->
 	<select id="myItemListCheck" parameterType="ItemVo" resultType="String">
 		select buy from pea_user_item where iidx=#{iidx} and uidx=#{uidx}
 	</select>
 	<!-- 메인화면  인기상품 리스트  -->
 	<select id="mostBuyItemList" resultType="ItemVo">
      SELECT * FROM pea_item 
       WHERE delyn='N'
         AND approval='Y'
         AND postpone='N'
       ORDER BY count DESC LIMIT 0,6;
   </select>
   <!--  -->
   <update id="myItemListUpdate" parameterType="ItemVo">
   	update pea_user_item set buy='Y',cart='N' where uidx=#{uidx} and iidx=#{iidx}
   
   </update>
</mapper>










