<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pea.board.mapper.ItemMapper">

		<!-- 아이템 이름 중복 체크 -->
	<select id="itemNameCheck" parameterType="string"
		resultType="string">
		SELECT name
		FROM pea_item
		WHERE name = #{name}
		AND delyn ='N'

	</select>

	<!-- 아이템 등록 -->
	<insert id="itemInsert" parameterType="ItemVo">
	INSERT INTO pea_item(
		  price
		, category
		, subcategory
		, name
		, tag
		, img	
		, maker	
		, ip
	) 
	VALUES(
		  #{price}
		, #{category}
		, #{subcategory}
		, #{name}
		, '1'
		, #{img}
		, #{maker}
		, #{ip}
	)
	</insert>
		
	<!-- 아이템 리스트  -->
	<select id="itemList" parameterType="ItemVo" resultType="ItemVo">
	SELECT * FROM pea_item 
		WHERE delyn='N' AND approval='Y' AND postpone='N'
			<if test="category!=4">AND category=#{category}</if>
			<if test="subcategory!=6">AND subcategory=#{subcategory}</if>
		ORDER BY iidx DESC
	</select>
	<!-- 아이템 리스트  카테고리 미니룸 (1)  -->
<!-- 	<select id="itemListCate" parameterType="int" resultType="ItemVo">
		select * from pea_item where delyn='N' and approval='Y' and postpone='N' and category=#{category}
		ORDER BY iidx DESC
	</select> -->
	
	<!-- 아이템 인기 상품순 -->
	<select id="itemListCount" parameterType="ItemVo" resultType="ItemVo">
	SELECT * FROM pea_item 
		WHERE delyn='N' AND approval='Y' AND postpone='N' 
			<if test="category!=4">AND category=#{category}</if>
			<if test="subcategory!=6">AND subcategory=#{subcategory}</if>
			
		ORDER BY count DESC, iidx DESC
	</select>
	<!-- 아이템 리스트 가격 내림차순 -->
	<select id="itemListDesc" parameterType="ItemVo" resultType="ItemVo">
	SELECT * FROM pea_item 
		WHERE delyn='N' AND approval='Y' AND postpone='N' 
			<if test="category!=4">AND category=#{category}</if>
			<if test="subcategory!=6">AND subcategory=#{subcategory}</if>
		ORDER BY price DESC, iidx DESC
	</select>
	<!-- 아이템 리스트 가격 오름차순 -->
	<select id="itemListAsc" parameterType="ItemVo" resultType="ItemVo">
	SELECT * FROM pea_item 
		WHERE delyn='N' AND approval='Y' AND postpone='N' 
			<if test="category!=4">AND category=#{category}</if>
			<if test="subcategory!=6">AND subcategory=#{subcategory}</if>
		ORDER BY price 
		ASC, iidx 
		DESC
	</select>
	<!-- 아이템 리스트 신상품순 -->
	<select id="itemListNew" parameterType="ItemVo" resultType="ItemVo">
	SELECT * FROM pea_item 
		WHERE delyn='N' AND approval='Y' AND postpone='N' 
			<if test="category!=4">AND category=#{category}</if>
			<if test="subcategory!=6">AND subcategory=#{subcategory}</if>
		ORDER BY iidx DESC
	</select>
	
	<!-- 아이템 리스트 신상품순 5개 -->
	<select id="itemListNewLimit" resultType="ItemVo">
	SELECT * FROM pea_item 
		WHERE delyn='N' AND approval='Y' AND postpone='N'
		
		ORDER BY iidx DESC LIMIT 0,6;
	</select>
	
	<!-- 아이템 승인 리스트  -->
	<select id="itemApproval" parameterType="ItemVo" resultType="ItemVo">
		SELECT * FROM pea_item 
			WHERE delyn='N' 
			AND approval='N' 
			AND	postpone='N'
			<if test="category!=4">AND category=#{category}</if>
			<if test="subcategory!=6">AND subcategory=#{subcategory}</if>
			ORDER BY iidx 
			ASC;
	</select>
	<!-- 아이템 보류 리스트  -->
	<select id="postpone" parameterType="ItemVo" resultType="ItemVo">
		SELECT * FROM pea_item
			WHERE delyn='N'
			AND approval='N'
			AND postpone='Y'
				<if test="category!=4">and category=#{category}</if>
				<if test="subcategory!=6">and subcategory=#{subcategory}</if>
			ORDER BY iidx 
			ASC;
	
	</select>
	<select id="subcategoryList" parameterType="ItemVo" resultType="ItemVo">
		SELECT* FROM pea_item WHERE delyn='N' AND approval='Y' AND postpone='N'
			<if test="category!=4">AND category=#{category}</if>
			<if test="subcategory!=6">AND subcategory=#{subcategory}</if>
				ORDER BY iidx DESC
	</select>
	
	<!-- 아이템 승인 버튼 -->
	<update id="approvalCheck" parameterType="int">
		UPDATE pea_item SET approval='Y' WHERE iidx=#{iidx}
	</update>
	<!-- 아이템 보류 버튼  -->
	<update id="postponeCheck" parameterType="int">
		UPDATE pea_item SET postpone='Y' WHERE iidx=#{iidx}
	</update>
	
	<!-- 아이템 삭제  -->
	<update id="itemDel" parameterType="int">
		UPDATE pea_item SET delyn='Y' WHERE iidx=#{iidx}
	</update>
	
	
	<!-- 장바구니함 리스트  -->
	<select id="basket_selectAll" parameterType="int" resultType="ItemVo">
	<!-- 	<![CDATA[ 
		SELECT * FROM pea_item 
			WHERE iidx=(SELECT iidx FROM pea_user_item WHERE uidx=#{uidx} AND cart='Y' and delyn='N')
		]]> -->
		SELECT * FROM pea_item a 
		JOIN (SELECT uiidx,iidx FROM pea_user_item 
				WHERE uidx=#{uidx} 
				AND cart='Y' 
				AND delyn='N'
				AND buy='N')b  
				ON a.iidx = b.iidx 
				WHERE a.delyn='N'
	</select>

	<!-- 장바구니 리스트에 추가 -->
		<insert id="basketItemAdd" parameterType="ItemVo">
			INSERT INTO pea_user_item(
						  iidx
						, uidx
						, cart
			) 
			VALUES(
						  #{iidx}
						, #{uidx}
						, 'Y'
			)
	</insert>
	<select id="basketListCheck" parameterType="ItemVo" resultType="String">
		SELECT * FROM pea_user_item 
			WHERE iidx = #{iidx} 
			AND uidx = #{uidx}
			AND (cart='Y' OR buy='Y')
			AND delyn='N'
			
	</select>
	
	<update id="basketItemAdd2" parameterType="int">
		UPDATE pea_user_item 
			SET cart='Y' 
			WHERE uiidx=#{uiidx} 
	</update>
	<!-- 장바구니 리스트에 삭제  -->
<!-- 	<update id="basketItemDel2" parameterType="ItemVo">
		update pea_user_item set cart = 'N' where uiidx=#{uiidx}
	</update> -->
	<delete id="basketItemDel" parameterType="ItemVo">
		DELETE FROM pea_user_item
			WHERE  uiidx=#{uiidx}
	</delete>
	<!-- 내 아이템 리스트에 추가  -->
	<insert id="myItemAdd" parameterType="ItemVo">
		INSERT INTO pea_user_item(iidx, uidx, buy) 
			VALUE(#{iidx},#{uidx},'Y')
	</insert>
	<!-- 아이템 카운트 업데이트  -->
	<update id="countAdd" parameterType="ItemVo">
		UPDATE pea_item 
			SET count=count+1 
			WHERE iidx=#{iidx}
	</update>
	<!-- 아이템  -->
	<!-- 내 아이템 업데이트  -->
	<update id="myAmount-" parameterType="ItemVo">
		UPDATE pea_user 
			SET pea_amount=(pea_amount-#{price}) 
			WHERE uidx=#{uidx}
	</update>
	<select id="myItemSelect"></select>
	<!-- 내 아이템 리스트  -->
	<select id="myItemList" parameterType="int" resultType="ItemVo">
		SELECT b.* FROM pea_user_item a 
			JOIN pea_item b 
			ON a.iidx=b.iidx 
			WHERE a.uidx=#{uidx} 
			AND a.buy='Y' 
			AND a.delyn='N' 
		ORDER BY a.uiidx DESC
	<!-- SELECT a.* FROM pea_item a 
		 JOIN pea_user_item b 
		ON a.iidx=b.iidx 
		 WHERE b.uidx=#{uidx} AND b.buy='Y' -->
 	</select>
 	<!-- 내 아이템 리스트 중복체크 -->
 	<select id="myItemListCheck" parameterType="ItemVo" resultType="String">
 		SELECT buy FROM pea_user_item
 			 WHERE iidx=#{iidx} 
 			 AND uidx=#{uidx}
 	</select>
 	<!-- 메인화면  인기상품 리스트  -->
 	<select id="mostBuyItemList" resultType="ItemVo">
      SELECT * FROM pea_item 
       WHERE delyn='N'
         AND approval='Y'
         AND postpone='N'
       ORDER BY count DESC LIMIT 0,6;
   </select>
   <!--  -->
   <update id="myItemListUpdate" parameterType="ItemVo">
   	UPDATE pea_user_item 
   		SET buy='Y',cart='N' 
   		WHERE uidx=#{uidx} 
   		AND iidx=#{iidx}
   
   </update>
   <update id="insertAmount" parameterType="UserVo" >
   	UPDATE pea_user 
   		SET pea_amount= (pea_amount + #{pea_amount}) 
   		WHERE uidx=#{uidx}
   </update>
   
   <select id="pea_amount" parameterType="UserVo" resultType="int">
   		SELECT pea_amount FROM pea_user 
   			WHERE uidx=#{uidx}  
   </select>
   
   <update id="buyBasketList" parameterType="ItemVo">
		UPDATE pea_user_item
		   SET buy='Y'
		     , cart='N'
		 WHERE uiidx =#{uiidx}
   </update>
   
   <select id="selectBasketUiidx" parameterType="ItemVo" resultType="int">
   		SELECT iidx
   		  FROM pea_user_item
   		 WHERE uiidx = #{uiidx}
   </select>
   <update id="basketCountAdd" parameterType="int">
		UPDATE pea_item 
			SET count=count+1 
			WHERE iidx=#{iidx}
	</update>
</mapper>










