<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="pea.board.mapper.MainBoardMapper">

<insert id="write" parameterType="MainBoardVo">
	INSERT INTO pea_board(
		  title
		, content
		, uidx
		, ip
		, category
	) VALUES(
		  #{title}
		, #{content}
		, #{uidx}
		, #{ip}
		, #{category}
	)
</insert>

<select id="selectAll" parameterType="SearchVo" resultType="MainBoardVo">
		SELECT  A.* 
		FROM (select @rownum:=@rownum+1 as rn, b.*,u.name
		 from pea_board b, pea_user u
		where b.uidx=u.uidx
		and category=#{category}
		and (@rownum:=0)=0
		<if test='searchType != null and searchType.equals("title")'>
	 		AND b.title like concat('%',#{searchValue},'%')
	 	</if>
	 	<if test='searchType != null and searchType.equals("contentWriter")'>
	 		AND b.content like concat('%',#{searchValue},'%')
	 		OR u.name like concat('%',#{searchValue},'%')
	 	</if>
	 	 and b.delyn='N'
	 	order by bidx desc
	 	) 
	 	<if test="list == 1">
	 		A  WHERE rn LIMIT 5;
	 	</if>
	 	<if test="list != 1">
	 		A  WHERE rn BETWEEN #{start} AND #{end};
	 	</if>
</select>

<select id="view" parameterType="int" resultType="MainBoardVo">
	SELECT b.*,u.name
	 FROM pea_board b, pea_user u
	WHERE b.uidx = u.uidx
	AND b.bidx = #{bidx}
</select>

<select id="countBoard" resultType="int">
	SELECT COUNT(*) 
	 FROM pea_board
</select>

<update id="modify" parameterType="MainBoardVo">
	UPDATE pea_board
	 SET title=#{title}
	 	,content=#{content}
	 	,ip=#{ip}
	 	,datetime=now()
	 WHERE bidx=#{bidx}
</update>

<update id="delete" parameterType="int">
	UPDATE pea_board 
	 SET delyn='Y' 
	WHERE bidx=#{bidx}
</update>

<insert id="writeReply" parameterType="MainCommentVo">
	INSERT INTO pea_comment(
		 bidx
		,content
		,writer
		,ip
		,origincidx
		,uidx
	) VALUES(
		 #{bidx}
		,#{content}
		,#{writer}
		,#{ip}
		,(SELECT max(cidx) from pea_comment c)
		,#{uidx}
	)
</insert>

<select id="selectComment" parameterType="MainCommentVo" resultType="MainCommentVo">
	SELECT * 
	 FROM pea_comment 
	WHERE bidx=#{bidx}
</select>

</mapper>

















