<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="pea.board.mapper.MainBoardMapper">

<!-- 메인보드 -->
<!-- 게시물 작성 -->
<insert id="write" parameterType="MainBoardVo">
	INSERT INTO pea_board(
		  title
		, content
		, uidx
		, ip
		, category
	) VALUES(
		  #{title}
		, #{content}
		, #{uidx}
		, #{ip}
		, #{category}
	)
</insert> 

<!-- 게시물 글 목록 조회-->
<select id="selectAll" parameterType="SearchVo" resultType="MainBoardVo">
SELECT @ROWNUM := @ROWNUM + 1 AS rnum, sub.*
		FROM (SELECT @ROWNUM := 0 )rnum, (
		<if test="category != 6"> 
		SELECT  A.* 
		  FROM (SELECT b.*
		  			 , u.name
		 		  FROM pea_board b
		 		     , pea_user u					 
				 WHERE b.uidx=u.uidx
		</if>
		<if test="category == 6"> 
		SELECT A.bidx
			 , A.uidx
			 , A.title
			 , CONVERT(A.content USING utf8) as content
			 , A.category
			 , A.datetime
			 , A.hit
			 , A.ridx
			 , A.report
			 , A.reply
			 , A.troll
		  FROM (SELECT b.*
				     , r.ridx
				     , r.report
				     , r.reply
				     , r.troll
				  FROM pea_board b
				     , pea_report r
				 WHERE b.bidx=r.bidx
		</if>
		   		   AND category=#{category}
				<if test='searchType != null and searchType.equals("title")'> 
			 	   AND b.title like concat('%',#{searchValue},'%')
			 	</if>
			 	<if test='searchType != null and searchType.equals("contentWriter")'> 
			 	   AND b.content like concat('%',#{searchValue},'%')
			 		OR u.name like concat('%',#{searchValue},'%')
			 	</if>
	 	   		   AND b.delyn='N'
			 	<if test="reply != 0"> 
			 	   AND reply=#{reply}
			 	</if>  
			 	 ORDER BY bidx ASC)A ) sub
			 	 ORDER BY rnum DESC
	 	<if test="list == 1"> 
	 	 LIMIT 0,5
	 	</if>
	 	<if test="list != 1"> 
	 	 LIMIT #{start},#{cntPerPage}
	 	</if> 
</select>

<!-- 페이징을 위한 총 글의 개수 구하기 -->
<select id="countBoard" parameterType="int" resultType="int">
	SELECT COUNT(*) 
	 FROM pea_board
	 WHERE category=#{category}
	   AND delyn = 'N'
</select>

<!-- 게시물 각 글 조회-->
<select id="view" parameterType="MainBoardVo" resultType="MainBoardVo">
<if test="category != 6">
	SELECT  b.uidx, b.title,CONVERT(b.content USING utf8) as content, b.category, b.datetime, b.hit, b.delyn, b.bidx, u.name, u.uidx,u.pea_super
	 FROM pea_board b, pea_user u
	WHERE b.uidx = u.uidx
	AND b.bidx = #{bidx}
</if>
<if test="category == 6">
	SELECT * FROM (SELECT  b.uidx, b.title, CONVERT(b.content USING utf8) as content, b.category, b.datetime, b.hit, b.delyn, u.name as reportername FROM pea_board b JOIN pea_report r ON b.bidx=r.bidx JOIN pea_user u ON b.uidx=u.uidx where ridx=#{ridx}) A,
	(SELECT u.name as trollname, r.*  FROM pea_board b JOIN pea_report r ON b.bidx=r.bidx JOIN pea_user u ON r.troll=u.uidx where ridx=#{ridx}) B,
	(SELECT CONVERT(b.content USING utf8) as reportcontent FROM pea_board b JOIN pea_report r ON r.rbidx=b.bidx WHERE ridx=#{ridx}) C
</if>
</select>


<!-- 게시물 수정 -->
<update id="modify" parameterType="MainBoardVo">
	UPDATE pea_board
	 SET title=#{title}
	 	,content=#{content}
	 	,ip=#{ip}
	 	,datetime=now()
	 WHERE bidx=#{bidx}
</update>

<!-- 게시물 삭제 -->
<update id="delete" parameterType="int">
	UPDATE pea_board 
	 SET delyn='Y' 
	WHERE bidx=#{bidx}
</update>




<!-- 메인 보드 댓글 -->
<!-- 댓글 작성 -->
<insert id="writeReply" parameterType="MainCommentVo">
	INSERT INTO pea_comment(
		 bidx
		,content
		,writer
		,ip
		,origincidx
		,uidx
		,depth
	) VALUES(
		 #{bidx}
		,#{content}
		,#{writer}
		,#{ip}
		<if test="depth==1">
			,#{cidx}
		</if>
		<if test="depth!=1">
			,(SELECT max(cidx)+1 from pea_comment c)
		</if>
		,#{uidx}
		,#{depth}
	)
</insert>

<!-- 댓글 모두 조회 -->
<select id="selectComment" parameterType="MainCommentVo" resultType="MainCommentVo">
	SELECT c.*, u.profile 
	 FROM pea_comment c JOIN pea_user u
	 ON c.uidx = u.uidx
	WHERE c.bidx=#{bidx}
	AND c.delyn='N'
	ORDER BY c.origincidx,c.cidx
</select>

<!-- 댓글 수정 -->
<update id="modifyReply" parameterType="MainCommentVo">
	UPDATE pea_comment
	 SET content=#{content}
	 	,datetime=NOW()
	 	,ip=#{ip}
	WHERE cidx=#{cidx}
</update>

<!-- 댓글 삭제 -->
<update id="deleteReply" parameterType="int">
	UPDATE pea_comment
	 SET delyn='Y'
	WHERE cidx=#{cidx}
</update>



<!-- 신고 테이블 -->
<!-- 신고 게시물 작성 -->
<insert id="writeReport" parameterType="ReportVo">
<![CDATA[
	INSERT INTO pea_board(
		  title
		, content
		, uidx
		, ip
		, category
	) VALUES(
		  #{title}
		, #{content}
		, #{uidx}
		, #{ip}
		, #{category}
	) 
	]]>
	<selectKey resultType="int" keyProperty="bidx" order="AFTER">
	SELECT MAX(bidx) FROM pea_board
	</selectKey>
	
</insert>

<insert id="writeReport2" parameterType="ReportVo">
	INSERT INTO pea_report(
		  bidx
		, troll
		, report
		<if test="rbidx != null">
		, rbidx
		</if>
		<if test="rcidx != null">
		, rcidx
		</if>
	) VALUES(
		  #{bidx}
		, #{troll}
		, #{report}
		<if test="rbidx != null">
		, #{rbidx}
		</if>
		<if test="rcidx != null">
		, #{rcidx}
		</if>
	)
</insert>

<update id="withdrawal" parameterType="ReportVo">
	UPDATE pea_user 
	SET delyn='Y'
	WHERE uidx=#{troll}
</update>

<update id="reportstate" parameterType="ReportVo">
	UPDATE pea_report
	SET reply=#{reply}
	WHERE ridx=#{ridx}
</update>

<insert id="warningtroll" parameterType="MessageVo">
	INSERT pea_message(
		 uidx
		,title
		,content
		,writer
	)VALUE(
		 #{uidx}
		,#{title}
		,#{content}
		,#{writer}
	)
</insert>

<!-- 회원 리스트 -->
<select id="selectAlluser" resultType="UserVo">
	SELECT * FROM pea_user WHERE delyn='N' ORDER BY uidx DESC
</select>

<!-- 탈퇴 회원 리스트 -->
<select id="selectAlldeleteuser" resultType="UserVo">
	SELECT * FROM pea_user WHERE delyn='Y' ORDER BY uidx DESC
</select>

<update id="delUser" parameterType="int">
	UPDATE pea_user
	   SET delyn = 'Y'
	     , delreason = '운영자에게 강퇴당함'
	 WHERE uidx = #{uidx}
</update>

</mapper>

















