<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="pea.board.mapper.MiniroomBoardMapper">
	<select id="joinMiniHome" parameterType="int" resultType="MiniHomeVo">
		SELECT a.* , b.name
		  FROM pea_minihome a
		  JOIN pea_user b
		    ON a.uidx = b.uidx
		 WHERE a.uidx = #{uidx}
	</select>
<!-- 최초 미니홈피  -->	
	<insert id="insertMiniHome" parameterType="int">
		INSERT INTO pea_minihome(
				uidx
		)VALUES(
				#{uidx}
		)
	</insert>
<!-- 최초 게시글 -->
	<insert id="firstBoard" parameterType="int">
		INSERT INTO pea_minihome_board(
			   uidx
			 , title
			 , content
			 , writer
			 , ip
			 , category
		)VALUES(
			   #{uidx}
			 , 'SweetPea에 오신걸 환영합니다.'
			 , '최초 미니홈피가 생성되었습니다'
			 , 1
			 , 'NoIP'
			 , 2
		)
	</insert>
<!-- 최초 카테고리 -->
	<insert id="firstSubCategory" parameterType="int">
		INSERT INTO pea_subcategory
		(
			   uidx
			 , subcategory
			 , mbidx
		)
		VALUES
		(
			   #{uidx}
			 , '새 카테고리'
			 , (
			 	SELECT max(mbidx)
			 	  FROM pea_minihome_board
			   )
		)
	</insert>
	
	<update id="changeHeader" parameterType="MiniHomeVo">
		UPDATE pea_minihome
		   SET h2 	= #{h2}
		 WHERE uidx = #{uidx}
	</update>
	
	<update id="changeLeftBoard" parameterType="MiniHomeVo">
		UPDATE pea_minihome
		   SET h1	= #{h1}
		 WHERE uidx = #{uidx}
	</update>
	
	<!-- 카테고리 종류 확인 -->
	<select id="checkCategory" parameterType="int" resultType="MiniRoomBoardVo">
		  SELECT subcategory
		    FROM pea_subcategory
		   WHERE uidx		= #{uidx}
		     AND delyn		= 'N' 
	    GROUP BY subcategory;
	</select>
	
	<update id="delCategory" parameterType="MiniroomBoardVo">
		UPDATE pea_minihome_board a, pea_subcategory b
		   SET a.delyn = 'Y',b.delyn = 'Y'
		 WHERE subcategory	= #{subcategory}
		   AND a.uidx 		= #{uidx}
	</update>
	
	<insert id="plusCategory" parameterType="MiniroomBoardVo">
		INSERT INTO pea_subcategory
		(
			   uidx
			 , subcategory
		)
		VALUES
		(
			   #{uidx}
			 , #{subcategory}
		)
	</insert>
	
	<update id="changeCategory" parameterType="MiniroomBoardVo">
		UPDATE pea_subcategory
		   SET subcategory	= #{subcategory}
		 WHERE uidx = #{uidx}
		   AND subcategory = #{content}
	</update>
	
	<!-- 친구추가 -->
	<insert id="addFriends" parameterType="FriendsVo">
		INSERT INTO pea_friends
		(
			   uidx
			 , bfidx
			 , uname
			 , bfname
		)
		VALUES
		(
			   #{uidx}
			 , #{bfidx}
			 , #{uname}
			 , #{bfname}
		)
	</insert>
	
	<!-- 친구추가 확인 -->
	<select id="checkFriends" parameterType="FriendsVo" resultType="string">
		SELECT delyn
		  FROM pea_friends
		 WHERE (uidx = #{uidx} AND bfidx = #{bfidx})
		    OR (uidx = #{bfidx} AND bfidx = #{uidx}) 
	</select>
</mapper>