<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="pea.board.mapper.MiniroomBoard2Mapper">

<!-- 미니홈 글 작성 -->
<insert id="writemini" parameterType="MiniroomBoardVo">
 INSERT pea_minihome_board(
 	 uidx
 	,title
 	,content
 	,writer
 	,ip
 	,category
 	,secret
 ) VALUES(
 	 #{uidx}
 	,#{title}
 	,#{content}
 	,#{writer}
 	,#{ip}
 	,#{category}
 	,#{secret}
 )
</insert>

<!-- 미니룸 다이어리 글 목록 전부 불러오기 -->
<select id="miniroomboardList" parameterType="MiniroomBoardVo" resultType="MiniroomBoardVo">
	 SELECT 
	 	  a.mbidx
	 	, a.uidx
	 	, a.title
	 	, CONVERT(a.content USING UTF8) as content
	 	, a.writer
	 	, a.date
	 	, a.ip
	 	, a.category
	 	, a.delyn
	 	, a.secret
	 	, b.name
	 	, b.profile
	 	, b.miniProfile
	  FROM pea_minihome_board a JOIN pea_user b ON a.writer=b.uidx
	 WHERE a.delyn='N'
	 AND a.uidx=#{uidx}
	 <if test="category != 0">
		 AND a.category=#{category}
	 </if>
	 <if test="category == 0">
		 AND a.secret is null OR a.secret='N'
	 </if>
	 ORDER BY a.mbidx DESC
	 <if test="category == 0">
	 	LIMIT 5
	 </if>

</select>

<!-- 미니룸 다이어리 글 목록 전부 불러오기 (날짜별)-->
<select id="boardByDate" parameterType="MiniroomBoardVo" resultType="MiniroomBoardVo">
	 SELECT 
	 	  mbidx
	 	, uidx
	 	, title
	 	, CONVERT(content USING UTF8) as content
	 	, writer
	 	, date
	 	, ip
	 	, category
	 	, delyn
	 	, secret
	  FROM pea_minihome_board 
	 WHERE delyn='N'
	  AND date(date)=#{date}
	  AND uidx=#{uidx}
	 ORDER BY mbidx DESC
</select>
 
<!-- 글 삭제 --> 
<update id="deleteDiary" parameterType="int">
	UPDATE pea_minihome_board
	 SET delyn='Y'
	WHERE mbidx=#{mbidx}
</update>

<!-- 글 수정 -->
<update id="modify" parameterType="MiniroomBoardVo">
	UPDATE pea_minihome_board
	 SET title=#{title}
	 	,content=#{content}
	 	,secret=#{secret}
	WHERE mbidx=#{mbidx}
</update>

<!-- 프로필 변경 -->
<update id="changeProfile" parameterType="MiniroomBoardVo">
	UPDATE pea_user 
	 SET miniProfile=#{miniProfile}
	WHERE uidx=#{uidx}
</update>

<!-- 미니홈피 내 아이템 조회 -->
<select id="myItemList" parameterType="int" resultType="ItemVo">
	SELECT a.* FROM pea_item a JOIN pea_user_item b 
	 ON a.iidx=b.iidx 
	WHERE b.uidx=#{uidx} AND b.buy='Y'
</select>

<!-- 내 미니홈피 배경 변경  -->
<update id="changeBackground" parameterType="MiniHomeVo">
 	UPDATE  pea_minihome 
	 SET background=#{background}
	WHERE uidx=#{uidx}
</update>

</mapper>