<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="pea.board.mapper.UserMapper">

	<select id="login" parameterType="userVo" resultType="userVo">
		SELECT *
		 FROM pea_user
		WHERE id=#{id}
			AND pwd=#{pwd}
	</select>


</mapper>